body {
  font-family: Sans-Serif;
}

.marker { 
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.point {
  stroke: #fff;
  opacity: 0.4;
}

svg {
    margin: 20px
    padding: 20px
}

.detailHeader {
  font-size: 48px;
  font-weight: 100;
}

.detailLine {
  fill: none;
  stroke-width: 1px;
  stroke: #333;
  pointer-events: none;
}

.underLine {
  fill: none;
  stroke-width: 1px;
  stroke: #333;
}

.left {
  text-anchor: end;
}

.row_labels {
  text-anchor: end;
}

.heading {
  font-size: 36px;
  font-weight: 100;
  fill: #666;
  stroke: #666;
}
